#prochainement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: auto;
  margin-bottom: 20%;
}

#prochainement button {
  margin: auto;
  background-color: #579c87;
  color: #fcc42d;
  width: 60%;
  padding-top: 3%;
  padding-bottom: 3%;
  border-radius: 6px;
  font-size: 1em;
}

.card__image {
  width: 40px;
  height: 40px;
  margin-bottom: -20px;
}

.card--one .card__subtitle {
  width: 130px;
  margin-top: -20px;
}

.card--two .card__subtitle {
  width: 120px;
  margin-top: -10px;
}

.heading__image {
  width: 35px;
}

.foo__image {
  width: 20px;
  height: 20px;
}

.heading__image {
  margin-bottom: -25px;
}

body {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body a {
  text-decoration: none;
}

.header__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #579c87;
  height: 68px;
  border-bottom: solid 1px #a1c181;
}

.header__heading .header__link {
  margin: auto;
}

.header__heading .header__link .header__logo {
  color: #fcc42d;
  margin-top: 15px;
  font-family: 'Monserrat', sans-serif;
  text-align: center;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-top: 10%;
  width: 300px;
  height: 300px;
  -webkit-box-shadow: 0 0 10px 0 rgba(150, 150, 150, 0.8);
          box-shadow: 0 0 10px 0 rgba(150, 150, 150, 0.8);
}

.card__link {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.card--one {
  background-color: #fadfda;
}

.card--one .card__title {
  font-family: 'Devonshire', sans-serif;
  color: rgba(51, 18, 18, 0.925);
  font-weight: normal;
  font-size: 25px;
}

.card--two {
  background-color: #FFF5FE;
}

.card--two .card__title {
  font-family: 'Croissant One', sans-serif;
  font-size: 20px;
  font-weight: normal;
  background: -webkit-gradient(linear, left top, right top, from(#ca7424), to(#684eb8));
  background: linear-gradient(to right, #ca7424, #684eb8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card--three {
  background-color: #f9f9f9;
}

.card--three .card__title {
  font-family: 'Parisienne', sans-serif;
  font-size: 30px;
  background: -webkit-gradient(linear, left top, right top, from(#1606f7), color-stop(60%, #5489eb));
  background: linear-gradient(to right, #1606f7, #5489eb 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card--three .card__subtitle {
  font-family: 'Kalam', cursive;
  font-size: 40px;
  color: #188af5;
  margin-top: -15px;
}

.card--four {
  background-color: #fdfffd;
  margin-bottom: 10%;
}

.card--four .card__title {
  font-family: 'Kaushan Script', sans-serif;
  background: -webkit-gradient(linear, left top, right top, from(#3a9207), color-stop(80%, #c1f7a1));
  background: linear-gradient(to right, #3a9207, #c1f7a1 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 28px;
  font-weight: 500;
}

.card--four .card__subtitle {
  font-family: 'Kalam', cursive;
  font-size: 40px;
  color: rgba(82, 173, 97, 0.74);
  margin-top: -15px;
}

.foo {
  display: -ms-grid;
  display: grid;
  width: 100%;
  background-color: #579C87;
  position: fixed;
  bottom: 0;
  height: 40px;
  border-top: solid 1px #a1c181;
}

.foo .foo__link--left, .foo .foo__link--right {
  color: #fcc42d;
  margin: auto;
}

.foo__link--left {
  -ms-grid-column: 1;
  grid-column: 1;
}

.foo__link--right {
  -ms-grid-column: 3;
  grid-column: 3;
}

/*-----GENERAL-----*/
.menu--one {
  background-color: #fadfda;
  font-family: 'Kalam',cursive;
}

.trio__title--one {
  font-family: 'kalam', cursive;
}

/*-----HEADER-----*/
.heading--one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heading--one .heading__title {
  font-family: 'Devonshire', cursive;
  font-weight: normal;
  font-size: 25px;
}

/*-----GROUPE-----*/
.meal--one--two {
  margin-bottom: 20px;
}

/*-----ENTREE-----*/
.trio__starter--one {
  -ms-grid-columns: 110px 115px 60px;
      grid-template-columns: 110px 115px 60px;
}

/*-----PLAT-----*/
.trio__dish--one {
  -ms-grid-columns: 80px 145px 60px;
      grid-template-columns: 80px 145px 60px;
}

/*-----DESSERT-----*/
.trio__dessert--one {
  -ms-grid-columns: 70px 155px 60px;
      grid-template-columns: 70px 155px 60px;
}

.last--meal {
  margin-bottom: -15px;
}

/*-----FOOTER-----*/
.foo--one {
  padding-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.foo--one .foo__title {
  font-family: 'Devonshire', cursive;
  font-weight: normal;
  margin-left: 10px;
}

/*-----GENERAL-----*/
#menu--two {
  background-color: #FFF5FE;
  font-family: 'Monserrat', sans-serif;
  padding: inherit;
  width: 90%;
  padding-bottom: 10%;
}

#title--two {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 18px;
  margin: auto;
}

.trio--two {
  width: 100%;
  -ms-grid-rows: 40px;
      grid-template-rows: 40px;
  margin-top: 20%;
  -ms-grid-columns: 50px 237px 49px;
      grid-template-columns: 50px 237px 49px;
}

/*-----HEADER-----*/
.heading--two .heading__title {
  font-family: 'Croissant One', cursive;
  font-weight: normal;
  margin-bottom: 20%;
  font-size: 25px;
  background: -webkit-gradient(linear, left top, right top, from(#C77412), to(#6E4CCC));
  background: linear-gradient(to right, #C77412, #6E4CCC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*-----GROUPE-----*/
.starter--two, .dish--two, .dessert--two {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 10%;
}

/*-----IMAGES-----*/
#image__L--two, #image__R--two {
  width: 50px;
  height: 5px;
  margin: auto;
  margin-left: 0;
}

/*-----ENTREE-----*/
.starter--two {
  color: #C77412;
}

/*-----PLAT-----*/
.dish--two {
  color: #A56799;
}

/*-----DESSERT-----*/
.dessert--two {
  color: #6E4CCC;
}

/*-----GENERAL-----*/
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10% auto 20%;
  width: 80%;
  padding: 5%;
}

.menu__trio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: auto;
  display: -ms-grid;
  display: grid;
}

.trio__title {
  font-size: 20px;
  -ms-grid-column: 2;
  grid-column: 2;
}

/*-----GROUPE-----*/
.menu__starter, .menu__dish, .menu__dessert {
  text-align: center;
  margin-bottom: 20px;
}

.starter__price, .dish__price, .dessert__price {
  margin-bottom: 10px;
  font-weight: bold;
}

/*-----HEADER-----*/
.menu__heading {
  margin: auto;
}

/*-----IMAGES-----*/
.trio__image--L {
  width: 60px;
  height: 10px;
  -ms-grid-column: 1;
  grid-column: 1;
}

.trio__image--R {
  width: 60px;
  height: 10px;
  -ms-grid-column: 3;
  grid-column: 3;
}
/*# sourceMappingURL=style.css.map */