.foo{
    display: grid;
    grid-template-columns: (40% 25% 35%);
    width: 100%;
    background-color: $primary-color;
    position: fixed;
    bottom: 0;
    height: $xl-size;
    border-top: solid 1px #a1c181;
    .foo__link--left, .foo__link--right{
        color: $secondary-color;
        font-family: 'Montserrat', sans-serif;
        margin: auto;
        font-size: $s-size + 5px;
        font-weight: 600;
    }
}

.foo__link--left{
    grid-column: 1;
}

.foo__link--right{
    grid-column: 3;
}

