.header__heading{
    display: flex;
    background-color: #579c87;
    height: 68px;
    .header__link{
        margin: auto;
        .header__logo{
            color: #fcc42d;
            margin-top: 10px;
            font-family: 'Monserrat', sans-serif;
            text-align: center;
        }
    }
}
