.header__heading{
    display: flex;
    background-color: $primary-color;
    height: 100px;
    border-bottom: solid 1px #a1c181;
    .header__link{
        margin: auto;
        .header__logo{
            color: $secondary-color;
            margin-top: $s-size + 5px;
            font-family: 'Monserrat', sans-serif;
            text-align: center;
        }
    }
}
