main{
    display: flex;
    flex-direction: column;
}

.card{
    display: flex;
    margin: auto;
    margin-top: 10%;
    width: 300px;
    height: 300px;
    box-shadow: 0 0 10px 0 rgba(150,150,150,.8);
    &__link{
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
    }    
}

.card--one{
    background-color: #fadfda;
    .card__title{
        font-family: 'Devonshire', sans-serif;
        color: rgba(51, 18, 18, 0.925);
        font-weight: normal;
        font-size: 25px;
    }
        
}

.card--two{
    background-color: #fef4f8;
    .card__title{
        font-family: 'Croissant One', sans-serif;
        font-size: 20px;
        font-weight: 500;
        background: linear-gradient(to right, #ca7424, #684eb8);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;}
}       

.card--three{
    background-color: #faf9f8;
    .card__title{
        font-family: 'Parisienne', sans-serif;
        font-size: 30px;
        background: linear-gradient(to right, rgb(40, 28, 218), rgb(3, 161, 253) 80% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.card--four{
    background-color: #fffdfb;
    margin-bottom: 10%;
    .card__title{
        font-family: 'Kaushan Script', sans-serif;
        background: linear-gradient(to right, rgb(68, 172, 7), rgb(193, 247, 161) 80% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 25px;
    }
}