main{
    display: flex;
    flex-direction: column;
}

.card{
    display: flex;
    margin: auto;
    margin-top: 10%;
    width: 300px;
    height: 300px;
    box-shadow: 0 0 10px 0 rgba(150,150,150,.8);
    &__link{
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
    }    
}

.card--one{
    background-color: #fadfda;
    .card__title{
        font-family: 'Devonshire', sans-serif;
        color: rgba(51, 18, 18, 0.925);
        font-weight: normal;
        font-size: 25px;
    }
        
}

.card--two{
    background-color: #f3e7eb;
    .card__title{
        font-family: 'Croissant One', sans-serif;
        font-size: 20px;
        font-weight: normal;
        background: linear-gradient(to right, #ca7424, #684eb8);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;}
}       

.card--three{
    background-color: #faf9f8;
    .card__title{
        font-family: 'Parisienne', sans-serif;
        font-size: 30px;
        background: linear-gradient(to right, rgb(22, 6, 247), rgb(84, 137, 235) 60% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;        
    }
}

.card--three .card__subtitle{
    font-family: 'Kalam', cursive;
    font-size: 40px;
    color: rgb(24, 138, 245);
    margin-top: -15px;
}

.card--four{
    background-color: #fffdfb;
    margin-bottom: 10%;
    .card__title{
        font-family: 'Kaushan Script', sans-serif;
        background: linear-gradient(to right, rgb(58, 146, 7), rgb(193, 247, 161) 80% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 28px;
        font-weight: 500;
    }
}

.card--four .card__subtitle{
    font-family: 'Kalam', cursive;
    font-size: 40px;
    color: rgba(82, 173, 97, 0.74);
    margin-top: -15px;
}

.menu{
    display: flex;
    flex-direction: column;
    margin: 10% auto 20%;
    width: 80%;
    padding: 5%;
}

.menu__heading{
    margin: auto;
}

.menu__trio{
    display: flex;
    align-items: baseline;    
    margin: auto;
    display: grid;
    margin-top: -20px;
}

.trio__image--L{
    width: 60px;
    height: 10px;
    grid-column: 1;}
    .trio__title{
        font-size: 20px;
        grid-column: 2;}
        .trio__image--R{
            width: 60px;
            height: 10px;
            grid-column: 3;
        }

.menu__starter, .menu__dish, .menu__dessert{
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Kalam',cursive;
}

.starter__price, .dish__price, .dessert__price{
    margin-bottom: 10px;
    font-weight: bold;
}