#push{
    display: flex;
    align-items: baseline;
    background-color: #579c87;
    cursor: pointer;
    width: 250px;
    height: 50px;
    border: inherit;
    border-radius: 10px;
    margin: 10px auto 100px;
    padding: 2%;
    #soon{
        font-family: 'montserrat', sans-serif;
        margin: auto;
        color: #fcc42d;
        font-size: 25px;
        grid-column: 1;
    }
}

.loading{
    display: inline-flex;
    flex-direction: row;
    margin: auto;
    margin-bottom: 15px;
    grid-column: 2;
}

.loading > div{
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background-color: #fcc42d;
    scale: (1);
    animation: loading-dots 1.4s infinite ease-in-out both;
  }