#prochainement{
    display: flex;
    width: 90%;
    margin: auto;
    margin-bottom: 20%;
        button{
            margin: auto;
            background-color: #579c87;
            color: #fcc42d;
            font-family: 'montserrat', sans-serif;
            width: 60%;
            padding-top: 3%;
            padding-bottom: 3%;
            border-radius: 6px;
            font-size: 1em;
        }
}