.card__image{
    width: 40px;
    height: 40px;
    margin-bottom: -20px;
}

.card--one .card__subtitle{
    width: 130px;
    margin-top: -15px;
}

.card--two .card__subtitle{
    width: 120px;
    margin-top: -10px;
}

.heading__image{
    width: 60px;
    margin-bottom: -25px;
}

.foo__image{
    width: 35px;
    height: 35px;
}