.card__image{
    width: 40px;
    height: 40px;
    margin-bottom: -20px;
}

.card--one .card__subtitle{
    width: 130px;
    margin-top: -20px;
}

.card--two .card__subtitle{
    width: 120px;
    margin-top: -10px;
}

.card--three .card__subtitle{
    width: 120px;
    margin-top: -5px;
}

.card--four .card__subtitle{
    width: 110px;
    margin-top: -5px;
}

.heading__image{
    width: 35px;
}

.foo__image{
    width: 20px;
}

.heading__image{
    margin-bottom: -30px;
}

.trio .image--L, .image--R{
    width: 100px;
}


