.card__image{
    width: $xl-size;
    height: $xl-size;
    margin-bottom: -20px;
}

.heading__image{
    width: $xxl-size + 10px;
    margin-bottom: -25px;
}

.foo__image{
    width: $l-size + 5px;
    height: $xl-size + 5px;
}