/*---ACCUEIL---CARDS---*/

.card .card__link:hover{
    transform: scale(1.25);
    opacity: (0.5);
}

/*---ACCUEIL---BOUTON---*/

.loading > div{
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #fcc42d;
  scale: (1);
  animation: loading-dots 1.4s infinite ease-in-out both;
}

#dot--one{
  animation-delay: -300ms;
}

#dot--two{
  animation-delay: -150ms;
}

@keyframes loading-dots{
  0%, 80%, 100%{
    transform: scale(0)
  }
  40%{
    transform: scale(1)
  }
}

/*---ACCUEIL---FOOTER---*/

.foo__link--left:hover, .foo__link--right:hover {
    -webkit-animation-name: wiggle;
    -ms-animation-name: wiggle;
    -ms-animation-duration: 300ms;
    -webkit-animation-duration: 300ms;
    -webkit-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
  }
  
  @-webkit-keyframes wiggle{
    0% {-webkit-transform: rotate(10deg);}
    25% {-webkit-transform: rotate(-10deg);}
    50% {-webkit-transform: rotate(20deg);}
    75% {-webkit-transform: rotate(-5deg);}
    100% {-webkit-transform: rotate(0deg);}
  }
  
  @-ms-keyframes wiggle{
    0% {-ms-transform: rotate(1deg);}
    25% {-ms-transform: rotate(-1deg);}
    50% {-ms-transform: rotate(1.5deg);}
    75% {-ms-transform: rotate(-5deg);}
    100% {-ms-transform: rotate(0deg);}
  }
  
  @keyframes wiggle{
    0% {transform: rotate(10deg);}
    25% {transform: rotate(-10deg);}
    50% {transform: rotate(20deg);}
    75% {transform: rotate(-5deg);}
    100% {transform: rotate(0deg);}
  }

/*---MENUS---PLATS---*/

.trio__title:hover{
    background-size: 100% 100%;
}