/*---ACCUEIL---CARDS---*/

.card .card__link:hover{
    transform: scale(1.25);
    opacity: (0.5);
}

/*---ACCUEIL---BOUTON---*/

/*---ACCUEIL---FOOTER---*/

/*---MENUS---PLATS---*/

.trio__title:hover{
    background-size: 100% 150%;
}