.card{
    display: flex;
    margin: auto;
    margin-top: 10%;
    width: 300px;
    height: 300px;
    box-shadow: 0 0 10px 0 rgba(150,150,150,.8);
    &__link{
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        scale: (1);
        transition: transform 300ms;
    }    
}



.card--one{
    background-color: #fadfda;
    .card__title{
        font-family: 'Devonshire', sans-serif;
        color: #3D1319;
        font-weight: normal;
        font-size: 25px;
    }   
}

.card--one .card__subtitle{
    font-family: 'Segoe Print', cursive;
    color: #3D1319;
    font-size: 30px;
    font-weight: bold;
    margin-top: -15px;
}

.card--two{
    background-color: #FFF5FE;
    .card__title{
        font-family: 'Croissant One', sans-serif;
        font-size: 20px;
        font-weight: normal;
        background: linear-gradient(to right, #ca7424, #684eb8);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;}
}

.card--two .card__subtitle{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ca7424;
    font-size: 35px;
    font-weight: bold;
    margin-top: -10px;
}

.card--three{
    background-color: #f9f9f9;
    .card__title{
        font-family: 'Dancing Script', sans-serif;
        font-size: 30px;
        background: linear-gradient(to right, rgb(22, 6, 247), rgb(84, 137, 235) 60% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;        
    }
}

.card--three .card__subtitle{
    font-family: 'Segoe Print', cursive;
    font-size: 30px;
    color: rgb(24, 138, 245);
    margin-top: -15px;
}

.card--four{
    background-color: #fdfffd;
    margin-bottom: 10%;
    .card__title{
        font-family: 'Kaushan Script', sans-serif;
        background: linear-gradient(to right, rgb(58, 146, 7), rgb(193, 247, 161) 80% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 28px;
        font-weight: 500;
    }
}

.card--four .card__subtitle{
    font-family: 'Segoe Print', cursive;
    font-size: 30px;
    color: rgba(82, 173, 97, 0.74);
    margin-top: -15px;
}