/*-----GENERAL-----*/

.nom__restaurant{
    text-align: center;
    font-family: sans-serif;
    margin-bottom: -15px;
}

.menu{
    display: flex;
    flex-direction: column;
    margin: 10% auto 20%;
    width: 80%;
    padding: 5%;
}

/*------ TRIO ------*/

.menu__trio{
    display: flex;
    align-items: baseline;    
    margin: auto;
    width: 100%;
    display: grid;
    text-align: center;
}

.trio__title{
    margin: auto;
    grid-column: 2;
    background: linear-gradient(to top, #332c2a 0%, #332c2a 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
    transition: background-size 300ms;
}

/*------ PLATS ------*/

.meal{
    margin: auto;
    text-align: center;
    width: auto;
    font-size: 18px;
}

.price{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

