/*--------------------------*/
/*--- MINIMUM --- 650PX ---*/
/*------------------------*/

@media only screen and (min-width: 650px){

/*--- HEADER --- GENERAL ---*/

    body .header__heading{
        height: 123px;
    }

    .header__logo{
        font-size: 50px;
    }

/*--- FOOTER --- GENERAL ---*/    

    body .foo{
        height: 68px;
        grid-template-columns: (31% 40% 29%);
        .foo__link--left, .foo__link--right{
            font-size: 24px;
        }
    }

/*--- ACCUEIL --- MAIN ---*/

    #container{
        display: flex;
        align-items: center;
        display: grid;
        width: auto;
        margin: auto;
        grid-template-columns: (135px 135px 50px 135px 135px);
        grid-template-rows: (50px 385px 45px 385px 150px 70px);
    }

/*--- ACCUEIL --- CARTES ---*/

    .card{
        width: 270px;
        height: 385px;
        margin: inherit;
    }

/*--- ACCUEIL --- CARTE 1 ---*/

    .card--one{
        grid-row: 2;
        grid-column: 1;
            .card__title{
                font-size: 23px;
            }
    }

    .card--one .card__link{
        margin-top: 50%;
    }

    .card--one .card__image{
        width: 40px;
        height: 40px;
    }    

    .card--one .card__link .card__subtitle{
        width: 115px;
    }

/*--- ACCUEIL --- CARTE 2 ---*/    

    .card--two{
        grid-row: 2;
        grid-column: 4;
        .card__title{
            font-size: 18px;
        }
    }

    .card--two .card__link .card__subtitle{
        width: 110px;
        margin-top: -10px;
    }

/*--- ACCUEIL --- CARTE 3 ---*/    

    .card--three{
        grid-row: 4;
        grid-column: 1;
        .card__title{
            font-size: 27px;
        }
    }

    .card--three .card__subtitle{
        font-size: 35px;
        margin-top: inherit;
    }

/*--- ACCUEIL --- CARTE 4 ---*/    

    .card--four{
        grid-row: 4;
        grid-column: 4;
        .card__title{
            font-size: 25px;
        }
    }

    .card--four .card__subtitle{
        font-size: 35px;
    }

/*--- ACCUEIL --- BOUTON ---*/

    #container #prochainement{
        grid-row: 5;
        grid-column: 2;
        margin: auto;
        width: 320px;
        #push{
            font-size: 30px;
            width: 100%;
            height: 60px;
            border-radius: 12px;
            padding: 0 10%;
        }
    }

/*--- MENUS --- GENERAL ---*/

    .nom__restaurant{
        text-align: center;
        font-family: sans-serif;
        font-size: 30px;
        margin-top: 50px;
        margin-bottom: -60px;
    }

    .menu{
        width: 80%;
        padding: inherit;
        margin-bottom: 23%;
    }

    .menu__starter, .menu__dish, .menu__dessert{
        display: flex;
        flex-direction: column;
    }

    .line{
        display: flex;
        margin: auto;
        justify-content: space-between;
    }

    .meal{
        margin: 0;
    }  

/*---------------------*/
/*------ MENU 1 ------*/
/*-------------------*/  

/*--- MENU 1 --- HEADER ---*/

    .heading--one .heading__image{
        width: 60px;
        margin-top: 40px;
    }

    #menu--one .heading--one .heading__title{
        font-size: 38px;
        margin: 20px auto 10px;
    }

/*--- MENU 1 --- TRIO ---*/

    #menu--one #trio--one{
        grid-template-columns: (33% 34% 33%);
        width: 77%;
        margin-bottom: -6px;
    }

    #menu--one .title--one{font-size: 20px;} 

    #menu--one .trio__image--L, #menu--one .trio__image--R{height: 23%;}

/*--- MENU 1 --- PLATS ---*/

    #menu--one .line{        
        width: 76%;
        margin-bottom: 7px;
    }

    #menu--one .menu__dessert .line{margin-bottom: 10px;}

    #menu--one .meal{font-size: 14px;}

    #menu--one .price{font-size: 16px;}

    #menu--one .menu__starter{margin-bottom: 30px;}
    #menu--one .menu__dish{margin-bottom: 22px;}
    
/*---------------------*/
/*------ MENU 2 ------*/
/*-------------------*/

    #menu--two{padding: inherit;}

/*--- MENU 2 --- HEADER ---*/

    #menu--two .heading__title{font-size: 30px;}

/*--- MENU 2 --- TRIO ---*/

    #menu--two #trio--two{
        width: 92%;
        grid-template-columns: (30% 40% 30%);
        margin-bottom: 30px;
    }

    .menu__trio #title--two{font-size: 15px;}

    #menu--two .menu__trio .trio__image--L, #menu--two .menu__trio .trio__image--R{height: 60%;}

/*--- MENU 2 --- PLATS ---*/

    #menu--two .line{
        width: 71%;
    }

    #menu--two .line .meal{
        font-size: 14px;
    }

    .price--two{
        font-weight: normal;
        font-size: 15px;
    }

    #menu--two .menu__starter{margin-bottom: -20px;}
    #menu--two .menu__dish{margin-bottom: -20px;}
    #menu--two .menu__dessert{margin-bottom: 30px;}

/*---------------------*/
/*------ MENU 3 ------*/
/*-------------------*/

/*--- MENU 3 --- HEADER ---*/

    #menu--three .heading--three .heading__title{
        font-size: 50px;
        font-weight: 800;
        margin: 85px auto 45px;
    }
/*--- MENU 3 --- TRIO ---*/   

    #menu--three #trio--three{
        width: 90%;
        grid-template-columns: (33% 34% 33%);
        margin-bottom: 5px;
    }

    #menu--three .menu__trio .trio__title{
        font-size: 17px;
        font-weight: normal;
    }

    #menu--three .trio__image--L, #menu--three .trio__image--R{
        height: 20%;
    }

/*--- MENU 3 --- PLATS ---*/

    #menu--three .line{
        width: 69%;
        margin-bottom: 4px;
    }

    #menu--three .meal--three{
        font-size: 14px;
    }

    .price--three{
        font-size: 18px;
        font-weight: normal;
    }
    
    #menu--three .starter--three{margin-bottom: 10px;}
    #menu--three .dish--three{margin-bottom: 10px;}
    #menu--three .dessert--three{margin-bottom: 70px;}

/*---------------------*/
/*------ MENU 4 ------*/
/*-------------------*/

/*--- MENU 4 --- HEADER ---*/

    #menu--four .heading--four .heading__title{
        font-size: 55px;
        margin: 65px auto 55px;
    }

/*--- MENU 4 --- TRIO ---*/

    #menu--four #trio--four{
        width: 92%;
        grid-template-columns: (36% 28% 36%);
        margin-bottom: 5px;
    }

    #menu--four .menu__trio .trio__title{
        font-size: 16px;
        font-weight: normal;
    }

    #menu--four .trio__image--L, #menu--four .trio__image--R{height: 18%;}

/*--- MENU 4 --- PLATS ---*/

    #menu--four .line{
        width: 74%;
        margin-bottom: 4px;
    }

    #menu--four .meal{
        font-size: 14px;
    }

    #menu--four .price{
        font-size: 18px;
        font-weight: normal;
    }

    .starter--four, .dish--four{
        margin-bottom: 14px;
    }

    .dessert--four{
        margin-bottom: 75px;
    }

}    

/*---------------------*/
/*---MINIMUM---900PX---*/
/*---------------------*/

@media only screen and (min-width: 1024px){

/*---GENERAL---FOOTER---*/    

    body .foo{
        grid-template-columns: (21% 58% 21%);
    }

/*---MENUS---GENERAL---*/

    .nom__restaurant{
        font-size: 35px;
    }

    .menu{
        max-width: 650px;
        margin: 100px auto 150px;
    }

}