/*-----GENERAL-----*/

#menu--two{
    background-color: #FFF5FE;
    font-family: 'Monserrat', sans-serif;
    padding-bottom: 10%;
}

/*-----HEADER-----*/

.heading--two .heading__title{
    font-family: 'Croissant One', cursive;
    font-weight: normal;
    margin: 95px auto 28px;
    font-size: 25px;
    background: linear-gradient(to right, #C77412, #9E64D5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}

/*------ TRIO ------*/

#menu--two .menu__trio{
    grid-template-columns: (16% 68% 16%);
    margin: 50px auto 30px;
}

#menu--two .trio__title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 17px;
    margin: auto;
}

#menu--two .trio__image--L, #menu--two .trio__image--R{height: 35%;}

/*------ PLATS ------*/

.starter--two, .dish--two, .dessert--two{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.starter--two{
    color: #C77412;
}

.dish--two{
    color:#A56799;
}

.dessert--two{
    color:#6E4CCC;
}

#menu--two .meal{font-size: 16px;}