#theme{
    background-color: #edefef;
}

#rgpd{
    width: 75%;
    margin: 100px auto;
    font-family: 'Montserrat', sans-serif;
}

#rgpd__title{
    margin: 50px auto 100px;
    font-size: $l-size;
}

.little__title{
    font-size: $m-size;
    margin-top: $xxl-size;
}


