/*-----GENERAL-----*/

#menu--one{
    background-color: #fadfda;    
    font-family: 'Kalam', cursive;
}

.trio__title--one{font-family: 'kalam', cursive;}

/*-----HEADER-----*/

.heading--one{
    display: flex;
    flex-direction: column;
    align-items: center;
    .heading__title{
        font-family: 'Devonshire', cursive;
        font-weight: normal;
        font-size: 25px;
    }
}

/*-----FOOTER-----*/

.foo--one{
    display: flex;
    align-items: center;
    margin: auto;
    .foo__title{
        font-family: 'Devonshire', cursive;
        font-weight: normal;
        margin-left: 10px;
    }
}

