/*-----GENERAL-----*/

#menu--two{
    background-color: #FFF5FE;
    font-family: 'Monserrat', sans-serif;
    padding-bottom: 10%;
}

#title--two{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 18px;
    margin: auto;
}

/*-----HEADER-----*/

.heading--two .heading__title{
    font-family: 'Croissant One', cursive;
    font-weight: normal;
    margin-bottom: 20%;
    font-size: 25px;
    background: linear-gradient(to right, #C77412, #9E64D5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}

/*-----GROUPE-----*/

.starter--two, .dish--two, .dessert--two{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*-----ENTREE-----*/

.starter--two{
    color: #C77412;
}

/*-----PLAT-----*/

.dish--two{
    color:#A56799;
}

/*-----DESSERT-----*/

.dessert--two{
    color:#6E4CCC;
}