/*-----GENERAL-----*/

.menu--one{
    background-color: #fadfda;    
    font-family: 'Kalam',cursive;
}

.trio__title--one{font-family: 'kalam', cursive;}

/*-----HEADER-----*/

.heading--one{
    display: flex;
    flex-direction: column;
    align-items: center;
    .heading__title{
        font-family: 'Devonshire', cursive;
        font-weight: normal;
        font-size: 25px;
    }
}

/*-----GROUPE-----*/

.meal--one--two{
    margin-bottom: 20px;
}

/*-----ENTREE-----*/


/*-----PLAT-----*/



/*-----DESSERT-----*/



.last--meal{
    margin-bottom: -15px;
}

/*-----FOOTER-----*/

.foo--one{
    padding-top: 5%;
    display: flex;
    align-items: center;
    margin: auto;
    .foo__title{
        font-family: 'Devonshire', cursive;
        font-weight: normal;
        margin-left: 10px;
    }
}

