/*-----GENERAL-----*/

#menu--four{
    background-color: #FDFFFD;
    font-family: 'Kalam', sans-serif;
    padding-bottom: 10%;
}

/*-----HEADER-----*/

.heading--four .heading__title{
    margin-top: 20%;
    font-family: 'Kaushan Script', sans-serif;
    font-weight: normal;
    font-size: 30px;
    background: linear-gradient(to right, rgb(58, 146, 7), rgb(190, 255, 127) 80% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
}