/*-----GENERAL-----*/

#menu--three{
    background-color: #edefef;
    font-family: 'Kalam', sans-serif;
    padding-bottom: 10%;
}

/*-----HEADER-----*/

.heading--three .heading__title{
    margin-top: 20%;
    font-family: 'Parisienne', cursive;
    font-weight: normal;
    font-size: 30px;
    background: linear-gradient(to right, rgb(22, 6, 247), rgb(84, 137, 235) 60% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;     
}