.header--one{
    margin-bottom: 10%;
}

.menu{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 20%;
    width: 80%;
    padding: 5%;
}

.menu__heading{
    margin: auto;
}



.trio__title{
    font-size: 20px;
}

.menu--one{
    background-color: #fadfda;
    .heading__title{
        font-family: 'Devonshire';
        font-weight: normal;
    }
}

.heading--one{
    display: flex;
    flex-direction: column;
    align-items: center;
}

