.menu{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 20%;
    width: 80%;
    padding: 5%;
}

.menu__heading{
    margin: auto;
}

.menu--one{
    background-color: #fadfda;
}

.heading--one{
    display: flex;
    flex-direction: column;
    align-items: center;
    .heading__title{
        font-family: 'Devonshire';
        font-weight: normal;
        font-size: 25px;
    }
}

.menu__trio{
    display: flex;
    align-items: baseline;    
    margin: auto;
    display: grid;
    margin-top: -20px;
}

.trio__starter--one{
    grid-template-columns: (110px 115px 60px);
}

.trio__image--L{
    width: 60px;
    height: 10px;
    grid-column: 1;}
    .trio__title{        
        font-family: 'kalam', cursive;
        font-size: 20px;
        grid-column: 2;}
        .trio__image--R{
            width: 60px;
            height: 10px;
            grid-column: 3;
        }

.trio__dish--one{
    grid-template-columns: (80px 145px 60px);
}

.trio__dessert--one{
    grid-template-columns: (70px 155px 60px);
}

