.header--one{
    margin-bottom: 10%;
}

.menu{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 20%;
    width: 80%;
    padding: 5%;
    &__heading{
        display: flex;
        margin: auto;
        flex-direction: column;
        align-items: center;
        &__trio{
            display: flex;
            margin: auto;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: baseline;
            justify-content: space-between;
            width: 100%;
            height: 30px;
            &__starter{
                display: flex;
                margin: auto;
                flex-direction: column;
                margin-bottom: 10%;
                &__main-dish{
                    display: flex;
                    margin: auto;
                    flex-direction: column;
                    &__dessert{
                        display: flex;
                        margin: auto;
                        flex-direction: column;
}}}}}}

.menu--one{
    background-color: #fadfda;
    .heading__title{
        font-family: 'Devonshire';
    }
}

.trio__title{
    font-size: 20px;
}
    
