
$primary-color: #579c87;
$secondary-color: #fcc42d;

$xxl-size: 50px;
$xl-size: 40px;
$l-size: 30px;
$m-size: 20px;
$s-size: 10px;
$xs-size: 5px;

$margin-01: 20px 0 50px;
$margin-03: 20px 0 25px;
$margin-04: 22px 0 25px;